@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.map-container {
    height: 100vh;
    width: 100vw;
  }

  .welcomeModal-body {
   color: black;
  }

 
/*  .imageModal-image {
  display: block;
  width: auto;
  max-height: 100%;
 }
 .modal-content {
  max-height: 100%;
 }
 .modal-body {
  max-height: 100%;
 } */
 .modal-95w {
  width: 97%;
  max-width: none !important;
  height: 95%;
  max-height: none !important;
 }